// -1.不同的层级元素用缩进分隔，标签和内容之间加上空格。
doctype html
html
   head
      title zhufengnodejs
      style.
         body{background-color:orange}
      script.
         var name = 'zfpx';
         var age = 6;
   body
      h1.title.title2#h1id(name='myh1',age=6) zfpx
      #id.classname
         a(href="www.zhufengpeixun.cn") link
         input(type='text',name='name',value='zfpx')
         input(type='checkbox',checked)
