doctype html
html
   head
      title zhufengpeixun
   body
      p
         | 1.a
         | 2.b
         | 3.c
      p.
          1.a
          2.b
          3.c
      p
         | 1.aa
         span myspan
         | 2.bb

      p
         |1. aa <span>myspan</span> 2.bb