//-
   1单行注释 两道斜线和JS一样
   2.非缓冲注释 //- 不会被编译代码中的
   3.块注释
doctype html
html
   head
      title
   body
      h2 注释
      h3 单行注释
      // 这行是普通注释，会输出到代码里
      h3 非缓冲注释
      //- #id.classname
      h3 块注释
      //-
         p
            abc
         p 2
      cde