//-
     1.声明变量 使用-  开头
     2.使用#{}来获取变量的值，
     3. 值可以从外部传入
doctype html
html
   head
      - var lesson = 'node.js';
      title #{lesson.toUpperCase()}
   body
      p lesson
      p=node
      p #{node}