//-
   1.模板的继承通过 block extends实现，块看作block
   2.可以一次定义，多次调用
   3. 子文档可以覆盖父文档里的东西。

doctype html
html
   head
   body
      h3 继承
       block desc
          p study node.js in zhufeng
       block desc
       block desc